.upper-part {
    width: 100%;
}

.upper-part h3 {
    font-weight: 400;
    margin-left: 20px;
    margin-right: 20px;
    display: inline-block;
}

.upper-part h3 span {
    color: var(--mainAccent);
}

.upper-part .colors-container {
    display: inline-block;
}

.upper-part .colors-container div {
    position: relative;
    display: inline-block;
    margin: 0px 10px;
    height: 20px;
    opacity: .8;
    font-variant: small-caps;
    vertical-align: middle;
    margin-left: 10px;
}

.upper-part .colors-container div div {
    width: 30px;
    height: 20px;
    border-radius: var(--mainBRadius);
    margin: 0px 7px 0px 0px;
}

.upper-part .colors-container div span {
    vertical-align: top;
}

#card-container {
    width: calc(100% - 40px);
    padding: 0px 20px;
}

#card-container div {
    display: inline-block;
    background-color: #121212;
    width: 20vw;
    max-width: 500px;
    margin: 15px 15px;
    border-radius: 10px;
    position: relative;
}

#card-container div img {
    width: calc(100% - 20px);
    margin-top: 10px;
    border-radius: 7px;
    pointer-events: none;
    transition: .2s ease-in filter;
}

#card-container div span {
    margin: 10px 0px;
    display: block;
    pointer-events: none;
    font-weight: 500;
}

#card-container div span.name {
    transition: .1s ease-in opacity;
}

#card-container div span.download {
    opacity: 0;
    position: absolute;
    bottom: -10px;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    transition: .2s ease-out;
}

#card-container div span.download i {
    margin-right: 10px;
}

#card-container div:hover {
    cursor: pointer;
}

#card-container div:hover img {
    filter: brightness(.6);
}

#card-container div:hover span.name {
    opacity: 0;
}

#card-container div:hover span.download {
    opacity: 1;
    bottom: 0px;
}