@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,800&display=swap');


html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    color: var(--mainText);
    background-color: var(--mainBackground);
}

body {
    padding-top: 70px;
}

:root {
    --mainBackground: #1a1a1d;
    --mainText: white;
    --mainAccent: #1a588e;
    --header: #252525;
    --mobileMenu: #131313;
    --tooltip: #3e3e3e;

    --mainBRadius: 5px;
}

a {
    text-decoration: none;
    color: var(--mainAccent);
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}

a:active {
    filter: brightness(1.4);
}

button {
    outline: none;
    border: none;
    padding: 7px 20px;
    color: white;
    font-weight: 600;
    letter-spacing: 0.5px;
    cursor: pointer;
    background-color: var(--mainAccent);
    border-radius: var(--mainBRadius);
    transition: .2s ease-out border-radius;
}

button:hover {
    border-radius: calc(var(--mainBRadius) + 3px);
}

button:active {
    filter: brightness(0.8);
}

hr {
    width: 80%;
    border: none;
    height: 1px;
    background-color: var(--mainText);
    opacity: .6;
}

img {
    user-select: none;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: .5px;
}

header {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 75px;
    z-index: 1;
    background-color: var(--header);
    user-select: none;
}

header .logo-container {
    position: absolute;
    left:  5px;
    top: 0px;
    height: 100%;
    width: 120px;
    cursor: pointer;
}

header .logo-container img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    pointer-events: none;
    transition: .1s ease-out height;
}

header .logo-container:hover img {
    height: calc(80% + 2px);
}

header .logo-container:active img {
    height: calc(80% - 5px);
}

header .link-container {
    position: absolute;
    height: 100%;
    left: 110px;
}

header .link-container .link {
    height: 100%;
    display: inline-block;
    padding: 0px 30px;
    cursor: pointer;
}

header .link-container .link a {
    color: var(--mainText);
    font-size: 21px;
    pointer-events: none;
    position: relative;
    top: calc(50% - 14.5px);
}

header .link-container .link a:after {
	content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    height: 1em;
    width: 100%;
    border-bottom: 1px solid;
    margin-top: 10px;
    opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

header .link-container .link:hover a {
    text-decoration: none;
}

header .link-container .link:active a {
    filter: brightness(.7);
}

header .link-container .link:hover a:after {
    opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

header .media-container {
    position: absolute;
    top: 0px;
    right: 140px;
    height: 100%;
}

@keyframes right-header-enter {
    100% { opacity: 1; }
}

header .media-container div {
    display: inline-block;
    margin: 0px 5px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 30px;
    width: 30px;
    border-radius: calc(var(--mainBRadius) + 3px);
    cursor: pointer;
    transition: .1s ease-out border-radius;
    opacity: 0;
    pointer-events: none;
}

header .media-container.shown div {
    animation: right-header-enter .5s forwards;
    pointer-events: auto;
}

header .media-container div i {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18px;
}

header .media-container div.big {
    width: unset;
    padding: 0px 60px 0px 81px;
    font-weight: 700;
    font-size: 14pt;
    line-height: 30px;
    text-align: center;
    vertical-align: top;
}

header .media-container div.big i {
    left: 65px;
    font-weight: normal;
    font-size: 17px;
}

header .media-container div:hover {
    border-radius: calc(var(--mainBRadius) + 5px);
}

header .media-container div:active {
    filter: brightness(.8);
}

header .more-container {
    position: absolute;
    top: 50%;
    right: 20px;
    height: 30px;
    width: 100px;
    background-color: #ffffff14;
    transform: translateY(-50%);
    border-radius: 100px;
    opacity: 0;
    animation: right-header-enter .5s forwards;
}

header .more-container div.vl {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 60%;
    opacity: .6;
    background-color: var(--mainText);
}

header .more-container img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    cursor: pointer;
}

header .more-container img:first-of-type {
    left: 15px;
    content: url(../assets/less.png);
}

header .more-container.shown img:first-of-type {
    content: url(../assets/more.png);
}

header .more-container img:last-of-type {
    right: 15px;
    border-radius: 15px;
}

header .buttons-container {
    position: absolute;
    height: 100%;
    right: 140px;
    top: 0px;
    pointer-events: none;
}

header .buttons-container.shown {
    pointer-events: auto;
}

header .buttons-container.shown img {
    animation: right-header-enter .5s forwards;
}

header .buttons-container img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    height: 25px;
    margin-left: 20px;
    opacity: 0;
    cursor: pointer;
    
}

header .buttons-container img:hover {
    filter: brightness(.8);
}

header .buttons-container img:active {
    filter: brightness(.6);
}

header .burger-btn {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 27px;
    right: 40px;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: all
}

header .burger-btn input {
    display: flex;
    width: 94px;
    height: 70px;
    left: -30px;
    top: -30px;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

header .burger-btn span {
    display: flex;
    width: 29px;
    height: 2px;
    margin-bottom: 5px;
    position: relative;
    background: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    z-index: 1;
    transform-origin: 5px 0;
    transition: transform .5s cubic-bezier(.77,.2,.05,1),background .5s cubic-bezier(.77,.2,.05,1),opacity .55s ease
}

header .burger-btn span:first-child {
    transform-origin: 0% 0%
}

header .burger-btn span:nth-last-child(2) {
    transform-origin: 0% 100%
}

header .burger-btn input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-7px,-16px);
    background: #fff
}

header .burger-btn input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(.2,.2)
}

header .burger-btn input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0,10px)
}

#mobile-menu {
    display: none;
    position: fixed;
    top: 0px;
    left: -100%;
    width: 100%;
    height: calc(100% - 110px);
    padding-top: 110px;
    background-color: var(--mobileMenu);
    transition: .5s cubic-bezier(.77,.2,.05,1) left;
}

#mobile-menu h2 {
    margin-left: 25px;
    cursor: pointer;
    user-select: none;
}

header .burger-btn input:checked~#mobile-menu {
    left: 0px;
}

@keyframes tooltip-appear {
    0% { opacity: 0; transform: scale(0); }
    100% { opacity: 1; transform: scale(1); }
}

.tooltips {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    pointer-events: none;
    z-index: 2;
}

.tooltips .tooltip {
    position: absolute;
    opacity: 0;
    transform: scale(0);
    background-color: var(--tooltip);
    padding: 5px 15px;
    border-radius: var(--mainBRadius);
    font-weight: 500;
    font-size: 11pt;
    animation: tooltip-appear .2s forwards cubic-bezier(0.15, 0.09, 0.14, 1.44);
}

.tooltips .tooltip div.arrow {
    position: absolute;
    width: 10px;
    height: 10px;
    transform: rotate(45deg) translateX(-50%);
    left: 50%;
    top: -2px;
    background-color: var(--tooltip);
    z-index: -1;
}

.title-effect {
    position: relative;
    width: 100%;
    height: 100px;
    overflow: hidden;
    user-select: none;
}

.title-effect h1 {
    font-size: 44pt;
    margin-left: 50px;
    margin-top: 20px;
    transform: translateY(100px);
    text-shadow: 1px -1px 6px rgb(0 0 0);
    animation: title-enter 1s .5s cubic-bezier(0.26, 0.06, 0.28, 1) forwards;
}

.title-effect span {
    position: absolute;
    bottom: -70px;
    left: -70px;
    font-family: 'Open Sans', sans-serif;
    font-size: 122pt;
    opacity: .07;
    white-space: nowrap;
    transform: translateY(100px);
    animation: title-enter 1s cubic-bezier(0.26, 0.06, 0.28, 1) forwards;
}

@keyframes title-enter {
    100% { transform: translateY(0px); }
}

@media only screen and (max-width: 1200px) {
    header {
        height: 70px;
    }

    header .link-container .link {
        padding: 0px 10px;
    }

    header .link-container .link a {
        font-size: 17px;
        top: calc(50% - 10px);
    }

    header .media-container {
        right: 125px;
    }

    header .media-container div.big {
        font-size: 0px;
        width: 35px;
        padding: 0px;
    }

    header .media-container div.big i {
        left: unset;
    }

    header .buttons-container {
        right: 125px;
    }

    header .buttons-container img {
        margin-left: 10px;
    }

    header .more-container {
        right: 15px;
    }
}

@media only screen and (max-width: 800px) {
    header .buttons-container {
        display: none;
    }

    header .more-container {
        display: none;
    }

    header .logo-container {
        width: 100%;
        left: 0px;
    }

    header .logo-container:hover img {
        height: 80%;
    }

    header .link-container {
        display: none;
    }

    header .media-container {
        display: none;
    }

    header .burger-btn {
        display: flex;
    }

    .account-tooltip {
        display: none;
    }

    #mobile-menu {
        display: block;
    }
}