.content {
    padding: 0px 20px;
}

.content h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16pt;
    margin-bottom: 15px;
}

.content span {
    display: block;
    border-left: 1px solid #7c7c7c;
    padding-left: 10px;
    padding-bottom: 8px;
}

.content span:last-of-type {
    display: inline-block;
    border-bottom: 1px solid #7c7c7c;
    border-bottom-left-radius: 10px;
}

.content span i {
    opacity: .8;
}